{% extends 'main/base.html.twig' %}

{% block title %}Homepage - RankedChoice{% endblock %}
{% block page_keywords %}Jeans, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}
{% block stylesheets %}
    <style>
        .form-control {
          height: auto;
          padding-top: 10px;
          padding-bottom: 10px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid mt-2">
        <div class="row">
         <div class="col-lg-6">
           <h2>Edit Product</h2>  
           {{ form_start(form) }}
                
                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                    <small>{{ form_help(form.title) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                
                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                    <small>{{ form_help(form.price) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.price) }}
                    </div>
                </div>
               
                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.quantity) }}
                    {{ form_widget(form.quantity) }}
                    <small>{{ form_help(form.quantity) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.quantity) }}
                    </div>
                </div>
                
                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                    <small>{{ form_help(form.description) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.description) }}
                    </div>
                </div>
              
                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.isPublished) }}
                    {{ form_widget(form.isPublished) }}
                    <small>{{ form_help(form.isPublished) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.isPublished) }}
                    </div>
                </div>
              
                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.isDeleted) }}
                    {{ form_widget(form.isDeleted) }}
                    <small>{{ form_help(form.isDeleted) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.isDeleted) }}
                    </div>
                </div>
               
                <br>
                <input type="submit" value="Send" >
           {{ form_end(form) }}
         </div>
        </div>
    </div>
{% endblock %}
